.cm-main {
	background: darkgray;
}

.omni{
	background: sandybrown;
	color: black
}

.omni .omni-toolbar{
	background: sandybrown;
	color: white
}

.footer{
	background: sandybrown;
	color: white
}

my-input-container {
	margin-bottom: 9px;
	margin-top: 9px;
}

.hoverBold {
	padding: 5px;
}

.hoverBold:hover {
	font-weight: bold;
	background-color: rgba(81,81,81, 0.25);
	border-radius: 2%;
}

.cm-label-value .cm-label {
	color: #6e6e6e;
	font-size: 0.6rem;
}
.cm-label-value .cm-value {
	color: #323232;
	font-size: 1.0rem;
}

.number {
	text-align: right;
}