<div flex layout="row" layout-align="space-between start" class="hoverBold">
	<label-value label="Level" value="{{ctrl.Level}}" css="number"></label-value>
	<label-value value="{{ctrl.Class}}"></label-value>
	<label-value label="Base Attack Bonus" value="{{ctrl.BaseAttackBonus}}" css="number"></label-value>
	<label-value label="Fortitude" value="{{ctrl.Fortitude}}" css="number"></label-value>
	<label-value label="Reflex" value="{{ctrl.Reflex}}" css="number"></label-value>
	<label-value label="Will" value="{{ctrl.Will}}" css="number"></label-value>
	<label-value label="Hit Points" value="{{ctrl.HitPoints.join(', ')}}"></label-value>
</div>