<md-card>
	<md-card-header layout-align="space-around center">
		<md-card-avatar>
			<ng-md-icon icon="person" size="32" />
		</md-card-avatar>
		<md-card-header-text layout="row" layout-align="space-around center">
			<div flex="60">
				<label-value label="Name" value="{{cardController.character.Name}}"></label-value>
			</div>
			<div flex="20">
				<label-value label="Race" value="{{cardController.character.Race}}"></label-value>
			</div>
			<div flex="10">
				<label-value label="Level" value="{{cardController.character.Level}}" class="number"></label-value>
			</div>
		</md-card-header-text>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-icon-button launch" aria-label="{{cardController.viewExpanded ? 'Collapse' : 'Expand'}}" ng-click="cardController.expandCard()">
				<ng-md-icon class="card-toolbar-view-more-icon" icon="{{cardController.viewExpanded ? 'expand_less' : 'expand_more'}}" />
			</md-button>
		</md-card-actions>
	</md-card-header>
	<md-divider />
	<div ng-show="cardController.viewExpanded">
		<md-card-content flex layout="row" layout-align="space-around start">
			<div layout="column" layout-align="start start" flex="20" layout-fill>
				<label-value label="Age" value="{{cardController.character.Age}}" css="number" layout-fill></label-value>
				<br />
				<label-value label="Gender" value="{{cardController.character.Gender}}" layout-fill></label-value>
				<br />
				<label-value label="Alignment" value="{{cardController.character.Alignment | camelToHuman}}" layout-fill></label-value>
				<br ng-if="cardController.character.Homeland" />
				<label-value label="Homeland" value="{{cardController.character.Homeland}}" layout-fill></label-value>
			</div>
			<div layout="column" layout-align="space-around start" flex="20" layout-fill>
				<label-value label="Height" value="{{cardController.character.Height}}" css="number" layout-fill></label-value>
				<br />
				<label-value label="Hair" value="{{cardController.character.Hair}}" css="number" layout-fill></label-value>
				<br ng-if="cardController.character.Hair" />
				<label-value label="Size" value="{{cardController.character.Size}}" layout-fill></label-value>
			</div>
			<div layout="column" layout-align="space-around start" flex="20" layout-fill>
				<label-value label="Weight" value="{{cardController.character.Weight}}" css="number" layout-fill></label-value>
				<br />
				<label-value label="Eyes" value="{{cardController.character.Eyes}}" layout-fill></label-value>
			</div>
			<div flex="20" layout="column">
				<div flex>
					Languages
				</div>
				<md-divider />
				<div ng-repeat="language in cardController.character.Languages">
					<div style="margin-left: 10px" class="hoverBold">{{language}}</div>
				</div>
			</div>
		</md-card-content>
		<!--<md-card-actions layout="row" layout-align="end center" style="background-color:whitesmoke">
			<md-button>Action</md-button>
		</md-card-actions>-->
	</div>
</md-card>