<md-card>
	<md-card-content>
		<md-progress-linear md-mode="determinate" value="{{cardController.getCurrentHealthValue()}}"></md-progress-linear>
		<br />
		<div layout="row" layout-align="space-between start" layout-fill>
			<label-value flex="10" label="Damage" value="{{cardController.character.Damage}}" css="number"></label-value>
			<label-value flex="65" label="Health" value="{{cardController.character.HealthPoints}} / {{cardController.character.MaxHealthPoints}}"></label-value>
			<label-value flex="15" label="Percentage" value="{{cardController.getCurrentHealthValue()}} %" css="number"></label-value>
		</div>
	</md-card-content>
</md-card>