<div layout="column" class="omni">
	<div layout="row" layout-align="center center">
		<img ng-src="{{omniController.image}}" class="md-card-image" width="500px" />
	</div>
	<md-divider></md-divider>
	<md-toolbar class="omni-toolbar">
		<div class="md-toolbar-tools" layout-align="space-around center">
			<md-button class="md-icon-button" aria-label="Now Widgets">
				<ng-md-icon icon="now_widgets" size="32"></ng-md-icon>
			</md-button>

			<md-button class="md-icon-button" aria-label="Login">
				<ng-md-icon icon="login" size="32"></ng-md-icon>
			</md-button>

			<md-button class="md-icon-button" aria-label="Logout">
				<ng-md-icon icon="logout" size="32"></ng-md-icon>
			</md-button>

			<md-button class="md-icon-button" aria-label="Android">
				<ng-md-icon icon="android" size="32"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-divider></md-divider>
</div>