<md-card>
	<md-card-header layout-align="space-around center">
		<md-card-avatar>
			<ng-md-icon icon="tune" size="32" />
		</md-card-avatar>
		<md-card-header-text class="md-title" layout="row" layout-align="space-around center">
			Offensive Scores
		</md-card-header-text>
		<md-card-actions layout="row" layout-align="end center">
			<md-button class="md-icon-button launch" aria-label="{{cardController.viewExpanded ? 'Collapse' : 'Expand'}}" ng-click="cardController.expandCard()">
				<ng-md-icon class="card-toolbar-view-more-icon" icon="{{cardController.viewExpanded ? 'expand_less' : 'expand_more'}}" />
			</md-button>
		</md-card-actions>
	</md-card-header>
	<md-divider />
	<md-card-content ng-show="cardController.viewExpanded" layout="column" layout-fill>
		<label-value flex="75" class="hoverBold" label="Initiative" value="{{cardController.character.Initiative}}" css="number"></label-value>
		<offensive-score score="cardController.character.Melee"></offensive-score>
		<offensive-score score="cardController.character.Ranged"></offensive-score>
		<offensive-score score="cardController.character.CombatManeuverBonus"></offensive-score>
	</md-card-content>
</md-card>