<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pathfinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pathfinder.Properties.Settings>
            <setting name="TraitLibrary" serializeAs="String">
                <value>..\..\resources\Traits</value>
            </setting>
            <setting name="SkillLibrary" serializeAs="String">
                <value>..\..\resources\Skills</value>
            </setting>
            <setting name="RaceLibrary" serializeAs="String">
                <value>..\..\resources\Races</value>
            </setting>
            <setting name="ClassLibrary" serializeAs="String">
                <value>..\..\resources\Classes</value>
            </setting>
            <setting name="ClassFeatureLibrary" serializeAs="String">
                <value>..\..\resources\ClassFeatures</value>
            </setting>
            <setting name="SpellLibrary" serializeAs="String">
                <value>..\..\resources\Spells</value>
            </setting>
        </Pathfinder.Properties.Settings>
    </userSettings>
</configuration>