<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pathfinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pathfinder.Properties.Settings>
            <setting name="TraitLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\Traits</value>
            </setting>
            <setting name="SkillLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\Skills</value>
            </setting>
            <setting name="RaceLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\Races</value>
            </setting>
            <setting name="ClassLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\Classes</value>
            </setting>
            <setting name="ClassFeatureLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\ClassFeatures</value>
            </setting>
            <setting name="SpellLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\Spells</value>
            </setting>
            <setting name="CharacterLibrary" serializeAs="String">
                <value>C:\Users\thean\Documents\GitHub\CharacterManager\resources\Characters</value>
            </setting>
        </Pathfinder.Properties.Settings>
    </applicationSettings>
</configuration>