<div layout="row" layout-align="space-around center">
	<label-value flex="40" label="Type" value="{{score.Type}}"></label-value>
	<label-value flex="25" label="Score" value="{{score.Score}}"></label-value>
	<label-value flex="25" label="Modifier" value="{{score.Modifier}}"></label-value>
	<!--<md-tooltip md-direction="right">
		{{score.Type}}
		[Score: {{score.Score}}]
		:= [Base: {{score.Base}}]
		+ [Enhanced: {{score.Enhanced}}]
		+ [Inherent: {{score.Inherent}}]
		+ [Temp.: {{score.Temporary}}]
		- [Penalty: {{score.Penalty}}]
	</md-tooltip>-->
</div>